<div id="user_card_<%= user.id %>" class="user_card">
	<div class="profile_pic">
		<%=  image_tag "rails.png", :width => 30 %>
	</div>
	<div class="profile_info">
		<div class="name"><%= user.full_name %></div>
	</div>
</div>

