<% companies = (Company.all - project.companies).collect {|c| [c.name,c.id]} %>

<div class="add_company">
<h2>Which company do you want to add to the project?</h2>


<% if companies.empty? %>

No company to add to the project. <br/>
Choose a company or <%=  link_to "create a new company", new_company_path %>

<% else %>

<% form_for [project,client], :html => { :class => 'form'} do |form| %>
After you add a company you'll be able to specify which people from this company can access the project.
<br/><br/>
Choose a company or <%=  link_to "create a new company", new_company_path %>

<br/><br/>
<%= form.select(:company_id, companies ) %> &nbsp;
<%= form.submit "Add this company" %>
<% end %>
<% end %>

</div>