<div class="block">
	<div class="block-header">
  	Update document
	</div>
	<div class="content">
  	<div class="inner">
			<%= render :partial => 'form' %>
			<p><%= link_to "Back to List",  project_document_document_versions_path(@project,@document) %></p>
		</div>
	</div>
</div>
