<% title "File Version" %>

<p>
  <strong>Name:</strong>
  <%=h @file_version.name %>
</p>

<p>
  <%= link_to "Edit", edit_file_version_path(@file_version) %> |
  <%= link_to "Destroy", @file_version, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", file_versions_path %>
</p>
