<% if @a_project %>
<div class="a_project">
	<div class="title">
  	<h2><%= link_to	@a_project.name , @a_project %></h2>
	</div>
	<div class="other_info"></div>
	<div class="clear"></div>
	
</div>
<% end %>
