<div class="block">
	<div class="block-header">
		Edit you project
	</div>

	<div class="content">
		<div class="inner">

			<% form_for @project, :html => {:class => "form" } do |f| %>
			  <%= f.error_messages %>
			  <p>
					<h3>Project name</h3>
					<div class="gray ">The project name appears at the top of every page.</div>
				</p>
				<p class="bg-grey">
					<%= f.text_field :name %>
				<p>
				<br/>
				<p>
					<h3>Description</h3>
					<div class="gray ">Describe briefly the project</div>
				</p>
				<p class="bg-grey">
			    <%= f.text_area :description %>
			  </p>

			  <p class="navform right ">
			    <%= f.submit "Update" %>
			  </p>
			<% end %>

		</div>
	</div>
</div>