<div class="block">
	<div class="block-header">
		  Lastest activities across your projects
	</div>
	
	<div class="content">
		<div class="inner">
			qsdqd
		</div>
	</div>
</div>

<% content_for :sidebar do %>

<div class="block">
  <h3>Manage your projects</h3>
  <ul class="navigation">
    <li><%= link_to "New project", new_project_path %> </li>
  </ul>          
</div>

<div class="block">
  <h3>Your projects</h3>
  <ul class="navigation">
		<% @projects.each	do |project| %>
				<li>
				<%= link_to	project.name , project %>
				</li>
			<% end %>
  </ul>          
</div>
<% end %>