<li id="todo_<%=todo.id%>">
	<% remote_form_for todo, :url => uncomplete_project_todo_list_todo_path(project, todo_list, todo) do |form| %>
			
		<%= form.check_box(:completed, :checked => true, :onclick => "this.form.onsubmit()") %>
		&nbsp; 
		 <%= todo.task %>
		<%= link_to_remote image_tag('trash.gif', :class => 'trash'), 
				:url =>{ :controller => "todos", :action => "destroy" , :id => todo.id ,
					:project_id => project.id, :todo_list_id => todo_list.id } ,
					:method => :delete, :confirm => "are you sure"
		%>
		
		<% end %>
	
</li>